<h1>Reviews</h1>

<a href="/reviews/new">New Review</a>

{{#each reviews}}
  <h2>{{this.title}} - {{this.rating}} Stars</h2>
  <p>{{this.movieTitle}}</p>
  <p><small>{{this.description}}</small></p>
  <hr>
{{/each}}
