<form method="POST" action="/reviews">
  {{> reviews-form}}

  <!-- BUTTON -->
  <p>
    <input type="button" value="Cancel" onclick="history.back(-1)" />
    <button type="submit">Save Review</button>
  </p>

</form>
