div.movie {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 420px;
}

div.movie span.title {
    display: block;
    font-weight: 500;
    font-size: 1.2em;
}

div.movie span.genre {
    display: block;
    font-weight: 300;
}

div.movie a {
    margin-bottom: .2em;
}

.customLoginBox {
    text-align: center;
    margin: auto;
    width: 35%;
    padding: 1em 0 0 0;
}

.customLoginBox .alert {
    margin-top: 1em;
}

.form-signin .form-control {
    margin: .4em 0 .4em 0;
}

.form-signin .btn {
    margin-top: .8em;
}

.checked {
    color: orange;
}

.fa-trash-o {
    color: black;
    margin-left: .4em;
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;
    font-size: .8em!important;
}
.fa-trash-o:hover {
    color: red;
}
.timestamp {
    margin-left: 1.5em!important;
    color: grey!important;
}
.panel-title {
    font-size: 1.4em!important;

}
.trashit {
    position: relative!important;
    top: -.2em!important;
    font-size: 2.8em!important;
}
