div.movie {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 420px;
}
div.movie span.title {
    display: block;
    font-weight:500;
    font-size: 1.2em;
}
div.movie span.genre {
    display: block;
    font-weight:300;
}
div.movie a {
    margin-bottom: .2em;
}
